h1, h3{text-align: center;}
body{background-color: #A1EB7C;}
h1{font-size: 50px; color: #9E4544; font-family: sans-serif;}
h3{font-size: 35px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
 color: rgb(235, 113, 113);

}
p{font-size: 25px; color: #7F649E; font-family: cursive;}
span {color: #B688EB; border: 5px solid red; margin: 50px;}

#cabeçalho{width: 100%; height: 200px;}
#turma{width: 50%; margin-left: 330px; border: 10px solid #B688EB;}