h1,
h3 {
    text-align: center;
}

body {
    background-color: #ECB3CA;
}

h1 {
    font-size: 50px;
    color: #542A3B;
    font-family: sans-serif;
}

h3 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #A12054;
    padding: 40px;
}

p {
    font-size: 25px;
    color: #54112C;
    font-family: cursive;
}

span {
    color: #D42A6E;
    ;
    margin: 40px;
}

#Capa {
    width: 100%;
    height: 200px;
}

#Turma {
    width: 70%;
    margin-left: 240px;
    border: 10px solid grey
}

h4 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:      color: #54112C; text-align: center;
    text-align: center;
}

ul {
    color: #D42A6E;
    font-family: cursive;
    font-size: 25px;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}

h5{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D42A6E; 
    text-align: center;
}

li::marker{
    font-size: 25px;
    color:blueviolet;
    content: "★";
}
.nossas-atividades{
    background-color:#ECD4CA;
}
.LogoForm{
    width: 37%;
    vertical-align: text-bottom;
    margin-left: 120px;
}