body{background-color: rgb(244, 205, 205);}
h1{text-align: center; font-size: 50px;}
p{font-size: 20px; 
    color: green;
     font-family: Arial, Helvetica, sans-serif;}
h3{text-align: center; font-size: 35px; color: blue}
h1, h3{background-color: cornsilk;}